/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.s-2 {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1300px) {
  .s-2 {
    width: 90%;
  }
}

.s-1 {
  background-image: url(../images/section-1.png);
  background-color: yellow;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.s-1 .container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.s-1 .container-header .burger-bar {
  display: none;
}

.s-1 .container-header .logo {
  padding: 40px 180px;
}

.s-1 .container-header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.s-1 .container-header .nav .ul-block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  height: 90px;
  background-color: #281923;
  opacity: 0.5;
}

.s-1 .container-header .nav .ul-block1 > :hover {
  background-color: #A80E0E;
}

.s-1 .container-header .nav .ul-block1 > :first-child {
  margin-left: 30px;
}

.s-1 .container-header .nav .ul-block1 > :last-child {
  margin-right: 30px;
}

.s-1 .container-header .nav .ul-block1 > li > a {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .s-1 .container-header .nav {
    display: none;
  }
  .s-1 .container-header .burger-bar {
    display: block;
    color: #A80E0E;
    font-size: 40px;
    padding: 10px;
  }
}

.s-1 .div-s1 {
  display: block;
  width: 782px;
  height: 264px;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  margin-top: 100px;
}

.s-1 .div-s1 > h1 {
  font-size: 96px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  margin-left: 215px;
}

.s-1 .div-s1 > .relative {
  position: relative;
  width: 742px;
  height: 132px;
  background-image: url(../images/img-s1.png);
}

.s-1 .div-s1 > .relative > p {
  position: absolute;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.s-1 .button-s1 {
  width: 300px;
  height: 80px;
  border-radius: 30px;
  background-color: #FFAA00;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  color: #A80E0E;
  font-weight: bold;
  margin-left: 220px;
  padding: 10px;
}

.s-1 .button-s1:hover {
  -webkit-box-shadow: 5px 10px 15px;
          box-shadow: 5px 10px 15px;
}

.s-2 > .div1-s2 {
  display: block;
}

.s-2 > .div1-s2 > h3 {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  color: #A80E0E;
  font-weight: 700;
  text-align: center;
}

.s-2 > .div1-s2 > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.s-2 > .div1-s2 > p {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #382E36;
  text-align: center;
  line-height: 40px;
}

.s-2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.s-2 .container .card {
  width: 150px;
  height: 150px;
  margin-top: 70px;
}

.s-2 .container .card:hover {
  opacity: 0.5;
}

.s-2 .container .card > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.s-2 .container .card > p {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #382E36;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

.s-3 {
  background-image: url(../images/seection-3.jpg);
  background-color: yellow;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.s-3 .div1-s3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify-content;
      -ms-flex-pack: justify-content;
          justify-content: justify-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-3 .div1-s3 > .relative {
  position: relative;
  width: 800px;
  height: 132px;
  background-image: url(../images/img-s3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.s-3 .div1-s3 > .relative > p {
  position: absolute;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.s-3 .div1-s3 .div2-s3 {
  display: block;
  margin: 150px;
}

.s-3 .div1-s3 .div2-s3 > p {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
}

.s-4 {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.s-4 .div1-s4 {
  display: block;
}

.s-4 .div1-s4 > h3 {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  color: #A80E0E;
  font-weight: 700;
  text-align: center;
}

.s-4 .div1-s4 > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.s-4 .div1-s4 > p {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #382E36;
  text-align: center;
  line-height: 40px;
}

.s-4 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 70px;
  margin-top: 40px;
}

.s-4 .container .card {
  width: 30%;
  padding: 10px;
}

.s-4 .container .card > img {
  width: 90%;
}

.s-4 .container .card > p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #686868;
  line-height: 25px;
}

.s-4 .container .card > h5 {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  color: #382E36;
  line-height: 35px;
}

.s-4 .container .card > button {
  width: 165px;
  height: 40px;
  border-radius: 20px;
  background-color: #FFAA00;
  color: #FFFFFF;
}

.s-4 .container .card > h6 {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #A80E0E;
  line-height: 35px;
}

.s-4 > .button-s4 {
  width: 255px;
  height: 68px;
  border-radius: 35px;
  background-color: #A80E0E;
  margin: 0 auto;
  text-align: center;
  padding: 25px;
  margin-bottom: 15px;
}

.s-4 > .button-s4 > a {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
}

.s-5 {
  background-image: url(../images/section-5.jpg);
  background-color: yellow;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.s-5 .nav {
  position: absolute;
  top: 0;
  right: 0;
}

.s-5 .nav .ul-block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  height: 90px;
  background-color: #281923;
  opacity: 0.5;
}

.s-5 .nav .ul-block1 > :hover {
  background-color: #A80E0E;
}

.s-5 .nav .ul-block1 > :first-child {
  margin-left: 30px;
}

.s-5 .nav .ul-block1 > :last-child {
  margin-right: 30px;
}

.s-5 .nav .ul-block1 > li > a {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  font-weight: bold;
}

.s-5 .div-s5 {
  position: absolute;
  top: 200px;
  left: 200px;
}

.s-5 .div-s5 > h2 {
  font-size: 60px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  line-height: 70px;
}

.s-5 .div-s5 > h5 {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  line-height: 35px;
}

.s-5 .div-s5 > p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  color: #FFAA00;
}
/*# sourceMappingURL=global.css.map */