/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.s-2, .s-6 .div1-s6, .footer {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1300px) {
  .s-2, .s-6 .div1-s6, .footer {
    width: 90%;
  }
}

.body {
  background-image: url(../images/section-1.png);
  background-color: #FFAA00;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.body .header-wraper {
  position: relative;
}

.body .header-wraper .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .header-wraper .wrapper .logo {
  padding: 40px 180px;
}

.body .header-wraper .wrapper .menu-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  height: 90px;
  background-color: #281923;
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;
}

.body .header-wraper .wrapper .menu-ul > :hover {
  background-color: #A80E0E;
}

.body .header-wraper .wrapper .menu-ul > :first-child {
  margin-left: 30px;
}

.body .header-wraper .wrapper .menu-ul > :last-child {
  margin-right: 30px;
}

.body .header-wraper .wrapper .menu-ul > li > .nav-a {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  font-weight: bold;
}

.body .header-wraper .wrapper .burger-icon {
  display: none;
}

@media (max-width: 1024px) {
  .body .header-wraper .wrapper {
    display: block;
  }
  .body .header-wraper .wrapper .logo {
    padding: 40px;
    text-align: left;
  }
  .body .header-wraper .wrapper .menu-ul {
    width: 200px;
    height: 100px;
    display: none;
    padding: 15px;
  }
  .body .header-wraper .wrapper .menu-ul > li > .nav-a {
    display: block;
    line-height: 20px;
  }
  .body .header-wraper .wrapper .menu-ul > :first-child {
    margin-left: 0;
  }
  .body .header-wraper .wrapper > .burger-icon {
    color: #A80E0E;
    display: block;
    font-size: 30px;
    position: absolute;
    top: 40px;
    right: 30px;
    cursor: pointer;
  }
  .body .header-wraper .wrapper > .menu-ul.open-menu {
    display: block;
  }
}

.body .s-1 .div-s1 {
  display: block;
  width: 782px;
  height: 264px;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  margin-top: 100px;
}

.body .s-1 .div-s1 > h1 {
  font-size: 96px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  margin-left: 215px;
}

.body .s-1 .div-s1 > .relative {
  position: relative;
  width: 742px;
  height: 132px;
  background-image: url(../images/img-s1.png);
}

.body .s-1 .div-s1 > .relative > p {
  position: absolute;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.body .s-1 .button-s1 {
  width: 300px;
  height: 80px;
  border-radius: 30px;
  background-color: #FFAA00;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  color: #A80E0E;
  font-weight: bold;
  margin-left: 220px;
  padding: 10px;
}

.body .s-1 .button-s1:hover {
  -webkit-box-shadow: 5px 10px 15px;
          box-shadow: 5px 10px 15px;
}

@media (max-width: 768px) {
  .body .s-1 .div-s1 {
    width: 400px;
    height: 150px;
    margin-bottom: 50px;
  }
  .body .s-1 .div-s1 > h1 {
    font-size: 40px;
    margin-left: 50px;
  }
  .body .s-1 .div-s1 .relative {
    width: 350px;
    height: 100px;
  }
  .body .s-1 .div-s1 .relative > p {
    font-size: 16px;
  }
  .body .s-1 .button-s1 {
    margin-left: 50px;
    font-size: 16px;
  }
}

.s-2 > .div1-s2 {
  display: block;
}

.s-2 > .div1-s2 > h3 {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  color: #A80E0E;
  font-weight: 700;
  text-align: center;
}

.s-2 > .div1-s2 > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.s-2 > .div1-s2 > p {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: black;
  text-align: center;
  line-height: 40px;
}

@media (max-width: 768px) {
  .s-2 > .div1-s2 > h3 {
    font-size: 30px;
  }
  .s-2 > .div1-s2 > p {
    font-size: 16px;
  }
}

.s-2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 70px;
}

.s-2 .container .card {
  width: 150px;
  height: 150px;
  margin-top: 70px;
}

.s-2 .container .card:hover {
  opacity: 0.5;
}

.s-2 .container .card > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.s-2 .container .card > p {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #382E36;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

.s-3 {
  background-image: url(../images/seection-3.jpg);
  background-color: #FFAA00;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.s-3 .div1-s3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify-content;
      -ms-flex-pack: justify-content;
          justify-content: justify-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-3 .div1-s3 > img {
  width: 45%;
}

.s-3 .div1-s3 > .relative {
  position: relative;
  width: 800px;
  height: 132px;
  background-image: url(../images/img-s3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.s-3 .div1-s3 > .relative > p {
  position: absolute;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.s-3 .div1-s3 .div2-s3 {
  margin: 150px;
}

.s-3 .div1-s3 .div2-s3 > p {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .s-3 .div1-s3 .relative {
    width: 400px;
    height: 132px;
  }
  .s-3 .div1-s3 .relative > p {
    font-size: 18px;
  }
  .s-3 .div1-s3 .div2-s3 {
    display: none;
  }
}

@media (max-width: 768px) {
  .s-3 .div1-s3 > img {
    width: 100%;
  }
  .s-3 .div1-s3 .relative {
    display: none;
  }
}

.s-4 {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.s-4 .div1-s4 {
  padding: 10px;
  display: block;
}

.s-4 .div1-s4 > h3 {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  color: #A80E0E;
  font-weight: 700;
  text-align: center;
}

.s-4 .div1-s4 > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.s-4 .div1-s4 > p {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #382E36;
  text-align: center;
  line-height: 40px;
}

.s-4 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 70px;
  margin-top: 40px;
}

.s-4 .container .card {
  width: 30%;
  padding: 10px;
}

.s-4 .container .card > img {
  width: 90%;
}

.s-4 .container .card > p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #686868;
  line-height: 25px;
}

.s-4 .container .card > h5 {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  color: #382E36;
  line-height: 35px;
}

.s-4 .container .card > button {
  width: 165px;
  height: 40px;
  border-radius: 20px;
  background-color: #FFAA00;
  color: #FFFFFF;
}

.s-4 .container .card > h6 {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #A80E0E;
  line-height: 35px;
}

.s-4 > .button-s4 {
  width: 255px;
  height: 68px;
  border-radius: 35px;
  background-color: #A80E0E;
  margin: 0 auto;
  text-align: center;
  padding: 25px;
  margin-bottom: 15px;
}

.s-4 > .button-s4 > a {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .s-4 .div1-s4 > h3 {
    font-size: 22px;
  }
  .s-4 .div1-s4 > p {
    font-size: 16px;
  }
  .s-4 .container {
    margin: 0 auto;
    margin-top: 50px;
  }
  .s-4 .container .card {
    width: 45%;
  }
  .s-4 .container .card > :nth-child(even) {
    padding-right: 0;
  }
  .s-4 .button-s4 {
    width: 150px;
    height: 50px;
    padding: 15px;
  }
  .s-4 .button-s4 > a {
    font-size: 16px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .s-4 .container .card {
    width: 95%;
    margin-left: 50px;
  }
}

.s-5 {
  background-image: url(../images/section-5.jpg);
  background-color: #FFAA00;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.s-5 .div-nav-s5 {
  position: absolute;
  top: 0;
  right: 0;
}

.s-5 .div-nav-s5 .burger-bar {
  display: none;
}

.s-5 .div-nav-s5 .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.s-5 .div-nav-s5 .nav .ul-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  height: 90px;
  background-color: #281923;
  opacity: 0.5;
}

.s-5 .div-nav-s5 .nav .ul-nav > :hover {
  background-color: #A80E0E;
}

.s-5 .div-nav-s5 .nav .ul-nav > :first-child {
  margin-left: 30px;
}

.s-5 .div-nav-s5 .nav .ul-nav > :last-child {
  margin-right: 30px;
}

.s-5 .div-nav-s5 .nav .ul-nav > li > a {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .s-5 .div-nav-s5 .nav {
    display: none;
  }
  .s-5 .div-nav-s5 .burger-bar {
    display: block;
    color: #A80E0E;
    font-size: 40px;
    padding: 10px;
  }
}

.div-s5 {
  position: absolute;
  top: 200px;
  left: 200px;
}

.div-s5 > h2 {
  font-size: 60px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  line-height: 70px;
}

.div-s5 > h5 {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  line-height: 35px;
}

.div-s5 > p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  color: #FFAA00;
}

@media (max-width: 768px) {
  .div-s5 {
    left: 100px;
    top: 150px;
    margin: 0 auto;
  }
  .div-s5 > h2 {
    font-size: 40px;
  }
  .div-s5 > h5 {
    font-size: #281923;
  }
}

@media (max-width: 768px) {
  .div-s5 > h2 {
    font-size: 30px;
  }
  .div-s5 > h5 {
    font-size: 20px;
  }
}

.s-6 {
  background-color: #A80E0E;
}

.s-6 .div-nav-s5 {
  position: absolute;
  top: 0;
  right: 0;
}

.s-6 .div-nav-s5 .burger-bar {
  display: none;
}

.s-6 .div-nav-s5 .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.s-6 .div-nav-s5 .nav .ul-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  height: 90px;
  background-color: #281923;
  opacity: 0.5;
}

.s-6 .div-nav-s5 .nav .ul-nav > :hover {
  background-color: #A80E0E;
}

.s-6 .div-nav-s5 .nav .ul-nav > :first-child {
  margin-left: 30px;
}

.s-6 .div-nav-s5 .nav .ul-nav > :last-child {
  margin-right: 30px;
}

.s-6 .div-nav-s5 .nav .ul-nav > li > a {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .s-6 .div-nav-s5 .nav {
    display: none;
  }
  .s-6 .div-nav-s5 .burger-bar {
    display: block;
    color: #FFAA00;
    font-size: 40px;
    padding: 10px;
  }
}

.s-6 .div1-s6 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-6 .div1-s6 .block1 {
  display: block;
  padding: 100px 0;
  margin-right: 20px;
}

.s-6 .div1-s6 .block1 > .button-a {
  width: 120px;
  height: 40px;
  border-radius: 15px;
  padding: 10px;
  background-color: #FFAA00;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
}

.s-6 .div1-s6 .block1 > h4 {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  line-height: 50px;
  margin: 20px 0;
}

@media (max-width: 1024px) {
  .s-6 .div1-s6 .block1 > h4 {
    font-size: 22px;
  }
}

.s-6 .div1-s6 .block1-a,
.s-6 .div1-s6 .block1-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.s-6 .div1-s6 .block1-a > p,
.s-6 .div1-s6 .block1-b > p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  line-height: 20px;
  margin-left: 10px;
}

.s-6 .div1-s6 .block1-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 60px;
  background-color: #FFAA00;
}

@media (max-width: 1024px) {
  .s-6 .div1-s6 {
    margin: 0 auto;
  }
  .s-6 .div1-s6 .block1 {
    width: 50%;
  }
  .s-6 .div1-s6 .block1 > h4 {
    font-size: 22px;
  }
  .s-6 .div1-s6 .block2 {
    width: 95%;
  }
  .s-6 .div1-s6 .block2 > iframe {
    width: 90%;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer-a > p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: black;
  line-height: 20px;
  margin: 20px 0;
}

.footer .footer-b > h5 {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  color: #A80E0E;
}

.footer .footer-b > ul > li {
  margin: 10px 0;
}

.footer .footer-b > ul > li > a {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: black;
  line-height: 20px;
}

.footer .footer-c {
  margin-top: 70px;
}

.footer .footer-c > h5 {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  color: #A80E0E;
}

.footer .footer-c .footer-c1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer-c .footer-c1 > img {
  width: 30%;
}

@media (max-width: 768px) {
  .footer > :nth-child {
    margin-right: 10px;
  }
  .footer > :nth-child(2) {
    margin-top: 15px;
    margin-right: 10px;
  }
}
/*# sourceMappingURL=global.css.map */