//container size
$container-header: 1300px;
$container-size: 1170px;

//break-points
$tablet-break:1024px;


//font size
$h1: 96px;
$h2: 60px;
$h3: 50px;
$h5: 22px;
$h6: 18px;
$font30: 30px;
$font20: 20px;
$header-font: 16px;




//color
$mane-color1:#A80E0E;
$mane-color2:#FFAA00;
$header-color:#281923;
$font-color1: #FFFFFF;
$font-color2: #382E36;
$font-color3: #686868;

//font-family

$font-primery:'Montserrat', sans-serif;
$font-secondary:'Roboto', sans-serif;
