//page 3
.s-4 {
    @include container-parms($container-size);
    margin: 0 auto;

    .div1-s4 {
        display: block;


        &>h3 {
            @include font-parms($h3, $font-secondary, $mane-color1);
            font-weight: 700;
            text-align: center;
        }

        &>img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;

        }

        &>p {
            @include font-parms ($font20, $font-primery, $font-color2);
            text-align: center;
            line-height: 40px;
        }
    }

    .container {
        @include flex-parms(space-between, center);
        flex-wrap: wrap;
        margin-bottom: 70px;
        margin-top: 40px;

        .card {
            width: 30%;
            padding: 10px;

            &>img {
                width: 90%;
            }

            &>p {
                @include font-parms($header-font, $font-primery, $font-color3);
                line-height: 25px;

            }

            &>h5 {
                @include font-parms($h5, $font-primery, $font-color2);
                line-height: 35px;
            }

            &>button {
                @include box-wh(165px, 40px);
                border-radius: 20px;
                background-color: $mane-color2;
                color: $font-color1;
            }

            &>h6 {
                @include font-parms($h6, $font-primery, $mane-color1);
                line-height: 35px;
            }
        }
    }

    &>.button-s4 {
        @include box-wh(255px, 68px);
        border-radius: 35px;
        background-color: $mane-color1;
        margin: 0 auto;
        text-align: center;
        padding: 25px;
        margin-bottom: 15px;

        &>a {
            @include font-parms($h6, $font-primery, $font-color1);

        }
    }
}
