//page-4
.s-5 {
    background-image: url(../images/section-5.jpg);
    background-color: $mane-color2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;

    .div-nav-s5 {
        position: absolute;
        top: 0;
        right: 0;

        .burger-bar {
            display: none;
        }

        .nav {
            display: flex;


            .ul-nav {
                @include flex-parms;
                @include box-wh(600px, 90px);
                background-color: $header-color;
                opacity: 0.5;

                &>:hover {
                    background-color: $mane-color1;
                }

                &>:first-child {
                    margin-left: 30px;
                }

                &>:last-child {
                    margin-right: 30px;
                }

                &>li {
                    &>a {
                        @include font-parms($header-font, $font-primery, $font-color1);
                        font-weight: bold;
                    }
                }
            }

        }

        @media (max-width:$tablet-break) {
            .nav {
                display: none;
            }

            .burger-bar {
                display: block;
                color: $mane-color1;
                font-size: 40px;
                padding: 10px;

            }
        }
    }
}


.div-s5 {
    position: absolute;
    top: 200px;
    left: 200px;

    &>h2 {
        @include font-parms($h2, $font-secondary, $font-color1);
        line-height: 70px;
    }

    &>h5 {
        @include font-parms($h5, $font-primery, $font-color1);
        line-height: 35px;
    }


    &>p {
        text-align: center;
        font-size: 60px;
        margin-top: 0px;
        color: $mane-color2;
    }

    @media (max-width: $smart-break) {
        &>h2 {
            font-size: $h4;
        }

        &>h5 {
            font-size: $header-color;
        }
    }
}